body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    gap: 15px;
}
.header {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #322828;
    padding: 15px;
}

.card {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}

.footer {
    margin-top: auto; 
    text-align: center;
}
.body {
    padding: 15px;
}